/* Estilo para el ScrollBar*/

body::-webkit-scrollbar{
    width: 7px; 
    background: rgba(0, 27, 122, 0.2);   
}

body::-webkit-scrollbar-thumb{
    background: rgba(0, 27, 122, 0.5);
    border-radius: 10px; 
}

body::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 27, 122, 0.9);
    border-radius: 10px; 
}

                    /* Fin de los estilos para la ScrollBar */

                    /* Estilos para los Articulos */
/* Estilo para el contenedor del articulo */                    
.articulo{    
    margin-top: 15px;
    
}

.contenido-articulo{        
    padding: 7px;
    margin-top: 15px;
}

/* Estilo para el contenedor de la IMAGEN DEL ARTICULO */  
.contenedor-img-articulo{
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Estilo para el separador en los titulos de ARTICULO*/
hr.separador-articulo{
    background: #707070;
    opacity: 0.27;
    height: 2px;;
    margin-left: 10px;
    margin-top: 4.5px;
    margin-bottom: 4.5px;    
}

/* Estilo de titulos Principales */
.titles-section{    
    font-family: 'Verdana', 'Segoe UI', 'Tahoma', 'Geneva', 'sans-serif';
    color: white; 
    background: rgb(0, 61, 85);    
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 7px;    
    text-align: center;
    box-shadow: 5px 7px 6px black;
    border-radius: 10px;
}

/* Estilo de titulos para ARTICULOS*/
.title-article{
    font-family: 'Verdana', 'Segoe UI', 'Tahoma', 'Geneva', 'sans-serif';
    color: black;    
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Estilo para fechas de Articulos*/
.title-date{
    font-family: 'Verdana', 'Segoe UI', 'Tahoma', 'Geneva', 'sans-serif';
    color: black;  
    opacity: 0.48;      
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 15px;
}

/* Estilos para los TEXTOS de los ARTICULOS */ 
.texto-seccion{
    padding-left: 10px;
    font-size: 18px;
    text-align: justify;    
}

.mapa-info{
    display: inline-block;
    margin-bottom: 0px;
}

                    /*Fin de los estilos para los ARTICULOS */

                    /* Estilos para el ASIDE */
aside{
   display: block; 
}
                    /*Fin de los Estilos para el ASIDE */


                    /* Estilos para el contenido del FOOTER */

footer{
    padding: 15px;
    background: rgb(10, 34, 64);
    height: 120px;
    text-align: center;
}

.contenido-footer{
    color: white;
    font-size: 22px;
}

                    /*Fin de los Estilos para el FOOTER */

.color1{
    background: yellowgreen;
}

.color2{    
    background: gray;    
}

.color3{
    background: gold;    
}

.color4{
    background: burlywood;
}

.color5{
    background: darkolivegreen;
}

.color6{
    background: azure;
}

.color7{
    background: teal;
}

.color8{
    background: navy;
}

.color9{
    background: cornflowerblue;
}